* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    max-width: 1000px;
    border: 2px solid black;
    margin: 30px auto auto auto;

    .searchForm {

    }

    .inputForm {

    }

    .listForm {

    }
}