@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.logo {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    opacity: 50%;
}

.o {
    color: #117AEF;
    font-family: 'Black Han Sans', sans-serif;

}